fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.8.2
SQLAlchemy==2.0.34
alembic==1.13.2
pillow==10.4.0
scikit-learn==1.5.1
numpy==2.0.1

pytest==7.4.2
httpx==0.24.1
pytest-asyncio==0.22.0
